body {
    background-color: silver;
}

.firstp {
    font-weight: bold;
}

table,
th,
td {
    border: 1px solid HoneyDew;
    border-collapse: collapse;

}

tr {
    background-color: paleTurquoise;
}

th,
td {
    vertical-align: top;
    padding: 5px;
    text-align: center;
}

th {
    color: purple;
}

td {
    color: purple;
}

.niceLinks {
    text-decoration: none;
    color: navy;
}

.niceLinks:hover {
    color: #00ff7f;
}